@import 'tailwindcss';

/* Plugins */
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.main-content {
    margin-top: 100px;
  }
